<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uohih.dailylog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.DailyActivity" />
        <activity android:name=".main.MainActivity" />
        <activity
            android:name=".base.DLogBaseActivity"
            android:label="@string/title_activity_dlog_base" />
        <activity android:name=".main.WriteActivity" />
        <activity android:name=".main.MonthlyActivity" />
        <activity android:name=".main.WeeklyActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".setting.PasswordSetting"></activity>
    </application>

</manifest>